<head>
  <h2>Index</h2>  
</head>

<main>
  <!--1er-->
  <div class="grid grid-cols-2">
    <img src ="https://replit.com/@KiritoKai90/om#static/image/1.png">
    <img src ="https://replit.com/@KiritoKai90/om#static/image/Leucipe.png">
  </div>
  <h1>Leucippe et Démocrite deux philosophes grecs, pensent que la matière est constituée de grains indivisibles (atomes en grec), les atomes. Pour eux les atomes sont tous plains, mais ne sont pas tous semblables : Ils sont ronds ou crochus, lisses ou rugueux. </h1>  

  <h1>Représentation de l'atome selon Démocrite et Leucippe:</h1>

  <img src ="https://replit.com/@KiritoKai90/om#static/image/Leucipe.png">
<!--2ème-->
   <img src ="https://replit.com/@KiritoKai90/om#static/image/Aristote.jpg">
  </div>
  <h1>Le philosophe grec, Aristote rejette la théorie de l'atome, de Leucippe et Démocrite, et reprend l'idée des quatre éléments émis par Empédocle.</h1>  

  <h1>Représentation selon Aristote :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/atome_aristote.jpg">
  <!--3ème-->
   <img src ="https://replit.com/@KiritoKai90/om#static/image/john-dalton.jpg">
  </div>
  <h1>>Dalton, physicien Britannique suppose l'existence des atomes et suppose qu'il en existe plusieurs types, qui permettent d'expliquer les propriétés de la matière ;Il les représente par une sphère ronde, comme une boule de billard.</h1>  

  <h1>Représentation de l'atome selon Dalton :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/john-dalton.jpg">
  <!--4ème-->
   <img src ="https://replit.com/@KiritoKai90/om#static/image/Joseph%20Thomson.jpg">
  </div>
  <h1>7 ans après Thomson, Rutherford, physicien britannique, propose un modèle ou l'atome est constitué d'un noyau, autour duquel gravitent les électrons. Le noyau est environ 105 fois plus petit que l'atome, donne l'atome est essentiellement constitue de vide.</h1>  

  <h1>Représentation de l'atome selon Joshep Thomson :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/atome%20thomson.jpg">
  <!--5ème-->
   <img src ="https://replit.com/@KiritoKai90/om#static/image/ernest%20rutherfold.jpg">
  </div>
  <h1>Sept ans après la découverte de !'existence des électrons en 1895 par le Britannique Crookes, Thomson physicien britannique propose un modèle de l'atome appelé le "pudding aux électrons": L'atome est une boule électriquement neutre remplie d'une substance chargée positivement et d'électrons charges négativement.</h1>  

  <h1>Représentation de l'atome selon Ernest Rutherford :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/atome%20Ernest%20Rutherford%20.png">
  <!--6ème-->
   <img src ="https://replit.com/@KiritoKai90/om#static/image/Niels%20Bohr.jpg">
  </div>
  <h1>4 ans après le modèle planétaire émis par Rutherford, Bohr propose un nouveau modèle : Les électrons tournent autour de l'atome selon des orbites de rayon défini, pas taus identiques, et pas toutes contenues dans le même plan.</h1>  

  <h1>Représentation de l'atome selon Niels Bohr :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/Niels%20Bohr%20atome.png">
  <!--7ème-->
  </div>
  <h1>Les physiciens du 20e siècle ont admis que la notion d'orbite n'a plus de sens pour un électron dans un atome : les électrons tournent autour de l'atome de fa9on aléatoire et désordonnée : on parle "de la probabilité de trouver l'électron a une distance donné du noyau.</h1>  

  <h1>Représentation de l'atome de nos jours :</h1>
  <img src ="https://replit.com/@KiritoKai90/om#static/image/atome.png">
</main>
